<!-- Footer -->
<footer class="page-footer font-small primary-color" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" th:text="|© 2018 : #{ARTICLE_MANAGE} |">
        <a href="https://mdbootstrap.com/education/bootstrap/"> Virun.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
