<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Bayon&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../shards.min.css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/" class="btn btn-warning btn-lg mt-3 mb-3" role="button" aria-pressed="true" th:text="#{go_back}">Go back</a>

        </div>
        <div class="col-md-4">
            <a href="/category/add-category" class="btn btn-primary btn-lg mt-3 mb-3" role="button" aria-pressed="true" th:text="#{add_new_category}">Add new Category</a>

        </div>
    </div>

    <div class="row justify-content-center p-5" th:if="${hasArticle}==0">
        <h1 th:text="#{search.notfound}">Search not found</h1>
    </div>
    <div th:each="category : ${category}" th:object="${category}" class="list-group card z-depth-0 bordered" id="accordionExample">

        <a href="#!" class="accordion list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse"
           th:attr="data-target='#collapse' + *{cat_id}"  aria-expanded="false" aria-controls="collapseThree">
            <div class="col-sm-2 col-md-4 col-lg-4 md-v-line" th:text="*{cat_id}">

            </div>
            <div class="col-sm-10 col-md-12 col-lg-12">
                    <div class="d-flex justify-content-between">
                    <h5 th:text="*{cat_title}" class="mb-2 h5" >List group item heading</h5>
                </div>
            </div>

        </a>
        <div th:id="'collapse' + *{cat_id}" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <a th:href="@{/category/delete-cate/{id}(id=*{cat_id})}" class="btn btn-primary btn-lg mt-1 mb-1" role="button" aria-pressed="true" th:text="#{delete_category}">Delete category</a>
                    <a th:href="@{/category/update-cate/{id}(id=*{cat_id})}" class="btn btn-primary btn-lg mt-1 mb-1" role="button" aria-pressed="true" th:text="#{edit_category}">Update category</a>
                </div>
        </div>

    </div>

    <div class="row justify-content-center mt-3">
        <nav th:if="${paging.totalCount}>7" th:remove="tag" aria-label="Page navigation example">
            <ul class="pagination pagination-circle pg-blue">
                <li class="page-item"><a class="page-link" th:href="@{/category/(page=1)}">First</a></li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" th:href="@{/category/(page=${paging.prePage})}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li th:each="i: ${#numbers.sequence(paging.stPage, paging.edPage)}" th:class="${paging.page}==${i}?'page-item active':'page-item'">
                    <a th:text="${i}" class="page-link" th:href="@{/category/(page=${i})}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" th:href="@{/category/(page=${paging.nextPage})}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/category/(page=${paging.totalPage})}">Last</a></li>
            </ul>
        </nav>
    </div>
</div>

<script src="../static/index.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
</body>
</html>